<h1>Signup</h1>

<% labelled_form_for @user do |f| -%>
  <%= f.error_messages %>
  <%= f.hidden_field :invite_token%>
  <%= f.text_field :login %>
  <%= f.text_field :email %>
  <% label = f.object.new_record? ? "Password" : "Change password" %>
  <%= f.password_field :password, :label => label %>
  <%= f.password_field :password_confirmation %>

  <%= submit_tag "Create" %>
<% end -%>



