<% labelled_form_for @photo, :html => { :multipart => true } do |f| -%>
  <%= f.text_field :title %>

  <% if current_user.buckets.any? -%>
    <fieldset>
      <legend>Buckets</legend>
      <% current_user.buckets.each do |bucket| -%>
        <%= check_box_tag "photo[bucket_ids][]", bucket.id, f.object.buckets.include?(bucket) %>
        <label><%= h(bucket.title) %></label>
      <% end -%>
    </fieldset>
  <% end -%>

  <%= f.file_field :picture, :required => true %>
  <%= f.text_field :picture_url %>
  
  <%= f.text_field :tag_list %>
  
  <%= submit_tag @submit_text %>
<% end -%>
