<h1><%= h @photo.title %></h1>

<%= link_to 'Index', photos_path %>
<%= link_to "Edit", edit_photo_path(@photo) %>


<p><%= image_tag @photo.picture.url(:original) %></p>
<p><%= image_tag picture_path(@photo.id, "original"), :alt => @photo.title %></p>
   
