<h1><%= h @photo.title %></h1>

<%= link_to 'Home', account_path %>
<%= link_to 'Index', photos_path %>
<%= link_to "Edit", edit_photo_path(@photo) %>

<div id="image" class="grid_9 alpha">
  <%= image_tag @photo.picture.url(:medium), :alt => @photo.title %>
</div>
  
<div id="image_meta" class="grid_3 omega">
  <h2>Meta-tastic!!</h2>
  <p><b>Make:</b><%= h @photo.make %></p>
  <p><b>Model:</b><%= h @photo.model %></p>
  <p><b>Taken:</b><%= h @photo.date_time_original %></p>
  <p><b>Tags:</b><%= h @photo.tag_list.join(", ") %></p>

  <h2>Sizes</h2>
  <ul>
    <li><%= link_to "thumb", picture_path(:id => @photo, :style => "thumb") %></li>
    <li><%= link_to "tiny", picture_path(:id => @photo, :style => "tiny") %></li>
    <li><%= link_to "small", picture_path(:id => @photo, :style => "small")%></li>
    <li><%= link_to "medium", picture_path(:id => @photo, :style => "medium")%></li>
    <li><%= link_to "original", picture_path(:id => @photo, :style => "original")%></li>
  </ul>
</div>
<div class="clear"></div>
