<html>
  <head>
    <title>Photos - <%= controller.controller_name %> : <%= controller.action_name %></title>
    <%= stylesheet_link_tag "reset", "text", "960", "photos" %>
  </head>
  <body>
    <div id="header_container">
      <div id="header" class="container_12">
        <div id="masthead" class="grid_6 alpha">
          <span id="site_title">Kippler</span>
        </div>
        <div id="login_links" class="grid_6 omega">
          <% if current_user-%>
            <% form_for :user_session, current_user_session,
                        :url => user_session_path, 
                        :html => { :method => :delete } do |f| -%>
              <%= submit_tag "Logout" %>
            <% end -%>
          <% else -%>
            <%= link_to "login", new_user_session_path %>
            <%= link_to "signup", new_user_path %>
          <% end -%>
        </div><!-- end of header -->
        <div class="clear"></div>
      </div><!-- end of header_container -->
    </div>
    <div id="content" class="container_12">
      <%= @content_for_layout %>
    </div>
  </body>
</html>
