<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Betafeed - <%= controller.controller_name %> : <%= controller.action_name %></title>
    <%= stylesheet_link_tag "reset", "grid", "photos" %>
  </head>
  <body>

    <div id="header" class="row">
      <div id="masthead" class="column grid_8">
        <span id="site_title">Betafeed</span>
      </div>

      <div id="login_links" class="column grid_4">
        <% if current_user-%>
          <% form_for :user_session, current_user_session,
               :url => user_session_path, 
               :html => { :method => :delete } do |f| -%>
          <p><%= submit_tag "Logout" %></p>
        <% end -%>
        <% if current_user.has_unused_invites?-%>
          <%= link_to "Invite a friend", new_invite_path %>
          (<%= current_user.invite_limit%> left)
        <% end -%>
      <% else -%>
        <%= link_to "login", new_user_session_path %>
        <%= link_to "home", root_path %>
      <% end -%>
    </div><!-- end of header -->
  </div><!-- end of header_container -->
  
  <div id="content" class="row">
    <%= @content_for_layout %>
  </div>
<!--[if IE 6]> <script type="text/javascript"> /*Load jQuery if not already loaded*/ if(typeof jQuery == 'undefined'){ document.write("<script type=\"text/javascript\" src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js\"></"+"script>"); var __noconflict = true; } var IE6UPDATE_OPTIONS = { icons_path: "http://static.ie6update.com/hosted/ie6update/images/" } </script> <script type="text/javascript" src="http://static.ie6update.com/hosted/ie6update/ie6update.js"></script> <![endif]-->
  </body>
</html>
